.row {
  margin: 10px;
}

.col1 {
  width: 20%;
}

.col2 {
  width: 80%;
}

.hotelcardimg {
  height: 200px;
  width: 300px;
}

img {
  border-radius: 5px;
}

.priceandbutton {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

@media only screen and (max-width: 1024px) {
  .col1 {
    width: 100%;
  }

  .col2 {
    width: 100%;
  }

  .hotelcardimg {
    margin: auto;
    height: 200px;
    width: 300px;
  }

  #imgcard {
    display: flex;
    align-items: center;
  }
}
